<?xml version="1.0"?>

<model>
  <name>LandingPad</name>
  <version>1.0</version>
  <sdf version='1.5'>LandingPad.sdf</sdf>

  <author>
    <name>Dronolab</name>
    <email>dronolab@ens.etsmtl.ca</email>
  </author>

  <description>
    Orange and Blue 32 inch drone landing pad: https://www.amazon.ca/Labs-Quadcopter-imperm%C3%A9able-respectueux-lenvironnement/dp/B06XQP7MHQ
  </description>
</model>
